/**
 * Base style to affect HTML elements on a general scale.
 */
@bgColorHtml: #424242;
@bgColorBody: #fff;
@colorBody: #333;
@fontFamilyBody: serif;

html {
    overflow-y: scroll;
//    background-color: @bgColorHtml;
    background-color: rgb(5 150 3);
}

body {
    margin: 0;
//    padding: 0;
//    background-color: @bgColorBody;
    font: 100.01%/1 @fontFamilyBody;
    background-color: rgba(109, 197, 119, 1);
    color: #e9d7b3;
}


article {
    padding: 5px;
    background-color: cornflowerblue;
}
/*
.flash {
    max-width: 90%;
    display: inline;
    float: left;
}
*/
.img {
      max-width: 100%;
}
