/**
 * Import the vertical grid.
 */
@import "/@desinax/typographic-grid/less/typography-font-families.less";
@import "/@desinax/typographic-grid/less/typography-defaults.less";

// Default grid, change to fit your requirements.
/*@columnWidth:   30;
@gutterWidth:   10;
@columns:       24;
@gridType:      "float"; // "flex"
*/

// "Magic number"
@magicNumber: 24px;
@fontSizeBody: 16px;

// Monospace
@fontFamilyCourier: "Courier New", Courier, monospace;

//Serif
@fontFamiyCambria: Cambria, Georgia, Times, 'Times New Roman', serif;

//Sans-serif
@fontFamiyVerdana: Verdana, Geneva, sans-serif;

// Font families som används
@fontFamilyHeadings: @fontFamilyCambria;
@fontFamilyBody: @fontFamilyCalibri;
@fontFamilyCode: @fontFamilyCourier;

// Activera "grid base font"
body {
    #desinax-hgrid.font(@fontSizeBody);
    color: red;
}
// Activera grid på alla typografiska elements

h1,
h2,
h3,
h4,
h5,
h6,
p,
code,
table {
    #desinax-hgrid.activateDefaultTypography();
}


// Visa griden
.hgrip .wrap {
    @gridImage: "./../img/magic-numbert-@{magicNumber}.png";
    #desinax-hgrid.showGrid(@gridImage);


}


  /*.gtest {
    background-color: lighten(#cf0, 20%);
}*/

/*
.region {
    height: 80px;

}

.row {
    #desinax-vgrid.row();
    background-color: #0f0;
    margin-bottom: 12px;
}

.header1,
.header2 {
    #desinax-vgrid.column(@columns / 2);
}

.flash {
    #desinax-vgrid.column(@columns - 4);
    #desinax-vgrid.push(2);
}

.sidebar-left,
.sidebar-right {
    #desinax-vgrid.column(@columns / 4);
}

.main {
    #desinax-vgrid.column(@columns / 2);
}

.footer {
    #desinax-vgrid.column(@columns);
}
*/
