/**
 * Import the vertical grid.
 */
@import "/@desinax/typographic-grid/less/typography-font-families.less";
@import "/@desinax/typographic-grid/less/typography-defaults.less";

// Default grid, change to fit your requirements.
/*@columnWidth:   30;
@gutterWidth:   10;
@columns:       24;
@gridType:      "float"; // "flex"
*/
/*
// "Magic number"
@magicNumber: 22px;
//@magicNumber: 24px;
@fontSizeBody: 16px;

// Använ det typografiska gridet  till min stil
// Monospace
@fontFamilyCourier: "Courier New", Courier, monospace;

//Serif
@fontFamiyCambria: Cambria, Georgia, Times, 'Times New Roman', serif;

//Sans-serif
@fontFamiyVerdana: Verdana, Geneva, sans-serif;

// Font families som används
@fontFamilyHeadings: @fontFamilyCambria;
@fontFamilyBody: @fontFamilyCalibri;
@fontFamilyCode: @fontFamilyCourier;
*/
/*
// Activera "grid base font"
body {
    #desinax-hgrid.font(@fontSizeBody);
    color: red;
}
*/

// Visa griden
.hgrid .inner-wrap {
    @gridImage: "./../img/magic-number-@{magicNumber}.png";
    //@gridImage: "/../img/magic-numbert-@{magicNumber}.png";
    #desinax-hgrid.showGrid(@gridImage);


}
  /*.gtest {
    background-color: lighten(#cf0, 20%);
}*/
